<div ng-include="'components/navbar/navbar.html'"></div>

<div id="main">
    <div class="header" ng-show="departmentName">
        <h1>{{ departmentName }}</h1>
        <h2>Zarządzanie karuzelami</h2>
    </div>
    <div class="content">
		<div class="pure-menu pure-menu-open pure-menu-horizontal">
		    <ul>
				<li ng-repeat="carousel in departmentCarousels"
					ng-class="{ 'pure-menu-selected': carousel.key === currentTabId }">
					<a ui-sref="departmentTab({ departmentKey: departmentKey, departmentTab: carousel.key })">
						{{ carousel.name }}
					</a>
				</li>
		    </ul>
		</div>
		<div ng-show="removeOfferResult.statusText == 'OK'">
			Usunięto!
		</div>
		<div id="tabs-content">
			<div ng-repeat="carousel in departmentCarousels" id="carousel.key" ng-show="carousel.key === currentTabId">
				<h2 class="content-subhead">Obecny stan dla <span class="color">{{ carousel.name }}</span></h2>
				<table class="pure-table pure-table-horizontal">
				    <thead>
				        <tr>
				            <th></th>
				            <th></th>
				            <th>ID</th>
				            <th>Nazwa</th>
				            <th></th>
				    </thead>

				    <tbody>
				        <tr ng-repeat="offer in carouselOffers">
				            <td>{{ $index + 1 }}.</td>
				            <td><a href="#"><img src="{{ offer.mainImage }}"/></a></td>
				            <td><a href="#">{{ offer.id }}</a></td>
				            <td><a href="#">{{ offer.name }}</a></td>
				            <td><a ng-click="removeOfferFromCarousel(offer.id, departmentKey, carousel.key)"><i class="fa fa-trash"></i></a></td>
				        </tr>
				    </tbody>
				</table>
				<h2 class="content-subhead">Dodaj produkt do <span class="color">{{ carousel.name }}</span></h2>
				<form class="pure-form" ng-submit="getSearchResult(productId)">
				    <fieldset>
				        <div class="form-group product-id-group">
				        	<input type="text" ng-model="productId" id="product-id" class="product-id" placeholder="ID produktu">
				        </div>

				        <div class="form-group">
				        	<button type="submit" class="pure-button pure-button-primary submit-form">Szukaj</button>
				        </div>
				    </fieldset>
				</form>
				<div class="search-results" ng-show="itemDetails">
					<h5>Wyniki wyszukiwania dla: <span class="color">{{ productId }}</span> </h5>
					<label ng-show="addItemResult.statusText == 'OK'" for="">Dodane pomyślnie!</label>
					<table class="pure-table pure-table-horizontal">
					    <thead>
					        <tr>
					            <th></th>
					            <th>ID</th>
					            <th>Nazwa</th>
					            <th>Kończy się</th>
					            <th></th>
					    </thead>

					    <tbody>
					        <tr>
					            <td><a href="#"><img src="{{ itemDetails.mainImage.small }}"/></a></td>
					            <td><a href="#">{{ itemDetails.id }}</a></td>
					            <td><a href="#">{{ itemDetails.name }}</a></td>
					            <td>{{ itemDetails.endingTime * 1000 | date:'dd-MM-yyyy HH:mm:ss' }}</td>
					            <td><a ng-click="addItemToCarousel(itemDetails.id, carousel.key, departmentKey)"><span class="success"><i class="fa fa-plus"></i></span></a></td>
					        </tr>
					    </tbody>
					</table>
				</div>
			</div>
		</div>
    </div>
</div>
