<div ng-controller="NavbarCtrl" hide-nav-on-resize>
    <a href="" id="menuLink" class="menu-link" ng-click="toggleMenu()">
        <span></span>
    </a>
    <div id="menu" ng-class="{'active': menuIsShown}">
        <div class="pure-menu pure-menu-open">
            <a class="pure-menu-heading" ui-sref="home">Działy</a>

            <ul>
                <li ng-repeat="department in departmentsItems"
                    ng-class="{'pure-menu-selected': department.key === currentDepartmentKey}">
                    <a ui-sref="departments({ departmentKey: department.key })">{{ department.name }}</a>
                </li>
            </ul>
            <ul>
                <li><a ui-sref="login">Wyloguj</a></li>
            </ul>
        </div>
    </div>
</div>
