#layout {
	&.full-width-layout {
		padding: 0;

		-webkit-transition: all 0 ease-out;
	    -moz-transition: all 0 ease-out;
	    -ms-transition: all 0 ease-out;
	    -o-transition: all 0 ease-out;
	    transition: all 0 ease-out;
	}

	.center {
		text-align: center;
	}
}